
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import "./libs/variables.scss";


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: rgba(128, 128, 128, 0.474);
    font-family: 'montserrat', Courier, monospace;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  
}

nav {
    width: 100%;
    background: $main-color;
    ul{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-evenly;
        margin: 20px 60px;
        
        li{
            cursor: pointer;
        }
    }
}

header{
    width: 100%;
    text-align: center;
    background: url(../assets/img/bg.jpg) center/cover;

    .logo-campus{
        margin-top: 25px;
        width: 40%;
    }

    h1{
        color: $main-color;
        margin-top: 10px;
    }


}

button{
    cursor: pointer;
    font-family: montserrat;
    text-transform: uppercase;
    color: $main-color;
    border: 2px solid $main-color;
    background: transparent;
    font-size: 1.2rem;
    padding: 10px 30px;
    margin: 40px 0;
}


.header-text{
    background: $main-color;
    width: 100%;
    text-align: center;

    p{
        font-weight: 700;
        color: $secondary-color;
        width: 60%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        
    }
}

.icon-part{
    width: 100%;
}



.icon-part-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: $secondary-color;
    color: $main-color;

}


.list-icon-part{
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    min-height: 200px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;


    h3{
        text-transform: uppercase;
        font-size: 1rem;
    }

    p{
        font-size: 0.8rem;
        width: 60%;
        height: 30%;
        margin: 0 auto;
    }

   button{
    font-size: 0.8rem;
    width: 60%;
    margin: 0;
    
   }
}



.news-part{
    display: flex;
    flex-direction: column;
}


.header-news{
    background: $bg-color;
    display: flex;
    width: 100%;
    padding-top: 100px;

    .left-part{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        margin-left: 10%;
    }

    .right-part{
        width: 35%;

        button{
            color: $secondary-color;
            border: 2px solid $secondary-color;
        }
    }

}

.main-news-container{
    display: flex;
    background: $bg-color;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;

    
    div{
        width: 20%;
        display: flex;
        flex-direction: column;

    }

    h4{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
    }

    .mn-pic{
        width: 100%;
    }

   p{
    font-weight: 700;
    height: 60%;
   }

.link{
    text-transform: uppercase;
    margin-top: 30px;
    width: 100%;

    a{
        text-decoration: none;
        color: $tertiary-color;
    }
}

}


.contact{
    width: 100%;
    background: $main-color;

   .contact-list{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
   }
  
}


.list{
    width: 13%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h5{
        text-transform: uppercase;
    }
}

.infos-p{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    a{
        text-decoration: none;
        font-weight: 700;
        font-size: 0.8rem;
        color: $tertiary-color
    }
}


.list:nth-of-type(3){


    p{
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    a{
        font-weight: 700;
        text-decoration: none;
        color: $tertiary-color;
    }

}


.list:nth-of-type(4){
   row-gap: 15px;
   
    .network{
        margin-bottom: -10px;
    }


    .copyright{
        margin-bottom: -10px;
        font-weight: 700;
    }
}



.contact-medias{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    

    .medias-text{
        width: 25%;
        margin-left: 7%;

        h3{
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 10px;
        }

        p{
            font-weight: 700;
        }

    }

    .medias-logos{
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
}


footer{
    background: $secondary-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

    h3{
        color: $main-color;
        text-transform: uppercase;
        margin-top: 20px;
    }

    ul{
        display: flex;
        justify-content: space-evenly;
        margin: 0 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

}




@media screen and (max-width :  900px){

    nav{

        ul{
           width:50%; 
           flex-wrap: wrap;
           margin-left: 25%;
           row-gap: 10px;
           column-gap: 10px;
          
        }
    }

    header{
        .logo-campus{
            width: 70%;
        }
    }
    

    .icon-part-container{
        flex-direction: column;
        align-items: center;
    }

    .list-icon-part{
        width: 50%;
    }

    .list-icon-part button{
        width: 60%;
    }

    .header-news{
        flex-direction: column;

    
        .left-part{
            margin: 0;
            width: 100%;
            text-align: center;
            flex-wrap: wrap;
        }

        .right-part{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    
    .main-news-container{
        flex-direction: column;
        align-items: center;

        .mn-pic{
            align-items: center;
        }

        div{
            width: 80%;
        }

        h4{
            width: 100%;
            text-align: center;
        }


        p{
            width: 100%;
            text-align: center;
        }

        .link{
            text-align: center;
            margin-bottom: 20px;
        }

    
    }


    .list{
        width: 100%;
        text-align: center;
    }

    .infos-p{
        display: block;
        width: 100%;
        margin-bottom: 60px;
        
    }

    .list:nth-of-type(1){
        display: none;
    }

    .contact .contact-list{
        height: 100%;
        flex-direction: column;
    }

    .list:nth-of-type(3) a{
        margin-bottom: 60px;
    }
    
    .list:nth-of-type(3) p{
        margin: 0 70px;
    }


    .contact-medias{
        flex-direction: column;
    }


    .contact-medias .medias-text {
        width: 100%;
        margin: 0;
        text-align: center;
    }


    .contact-medias .medias-logos{
        margin-top: 15px;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
    }


    footer ul{
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 10px;
    }
}


